body, html {
  font-size: 20px;
  font-size: 3vmin;
  height: 100%;
}

body {
  display: flex;
}

#root {
  margin: auto;
}

.board {
  background: #a09d1c;
  margin: 20px auto;
  position: relative;
  text-align: center;
  vertical-align: middle
}

button {
  font-size: 2em;
  padding: 1em;
  position: relative;
  top: calc(50% - 2em);
}

.snake, .food {
  position: absolute;
  box-sizing: border-box;
  border: solid 1px #a09d1c;
}

.snake {
  background: #333;
}

.food {
  background: #666;
}

.App-link {
  color: #61dafb;
}